.searchBox {
  .input {
    color: white;
    width: 80vw;
    max-width: 500px;
    padding: 10px 30px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
  }
}
